# pixi environments
.pixi/*
!.pixi/config.toml

.gitignore
.gitattributes
.DS_Store

temp/
extras/
tests.mojo

*.mojoc
*.json
*.txt
*.md
*.csv

c_bench
c_bench_*
benchmark_*_f32.mojo
reference
gpu/

perf_history_*
plot_perf_history.py
tune_*.mojo
tune_*.sh
plot_gemm*.py
benchmark_gemm*.mojo
bench_plot_gemm*.png
